numpy
pandas
scikit-learn
scipy
torch
torchinfo
xgboost
lightgbm
langchain==0.2.5
langchain-groq==0.1.6
langchain-community==0.2.5
langchain-huggingface==0.0.3
faiss-cpu
sentence-transformers
streamlit
plotly
matplotlib
seaborn
fastapi
uvicorn
python-dotenv
joblib
tqdm
pydantic
