numpy
pandas
scikit-learn
scipy
torch
torchinfo
xgboost
lightgbm
langchain
langchain-groq
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
streamlit
plotly
matplotlib
seaborn
fastapi
uvicorn
python-dotenv
joblib
tqdm
pydantic
